.navbar {
    width: 94%;
    margin: 10px auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    border-bottom: 4px solid #198754;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
}
.navbar-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: #198754;
    margin-left: 10px; 
}
.nav-links {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    justify-content: center;
}
.nav-link {
    color: #198754;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
}

.nav-link:hover {
    color: #145c32;
    background: #e8f5e9;
}
.login-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 10px;
}

.bi-person-circle {
    color: #198754;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .navbar {
        width: 95%;
    }
    .navbar-content {
        width: 100%;
        padding: 10px;
    }
    .nav-links {
        flex-direction: row;
        justify-content: center; 
        gap: 15px;
    }
}
