.inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputField {
    width: 450px; /* Set a fixed width for the input fields */
    margin-bottom: 16px; /* Increased margin for better spacing between fields */
    background-color: #ffffff;
    border-radius: 15px;
    height: 60px;
  }
  
  #signup_Header {
    font-weight: normal;
  }
  
  .inputLabel {
    display: block; /* Ensure labels are displayed as block elements */
    margin-bottom: 4px; /* Add space below the label */
    margin-left: 495px;
    text-align: left;
  }
  
  .signUp_Header {
    font-size: x-large;
    font-weight: lighter !important;
  }
  
  .inputField .MuiOutlinedInput-root {
    border-width: 2px; /* Set border thickness */
    border-color: rgba(220, 220, 220, 0.5); /* Set border color */
    /* Define border style */
    border-radius: 15px;
    height: 60px;
  }
  
  .inputField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-width: 2px; /* Ensure thicker border on hover */
    height: 60px;
  }
  
  .inputField
    .MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border-width: 2px; /* Thicker border when focused */
  }